<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075482216613-khkjlltvs017u002lk2b0k41lb99dvj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075482216613-khkjlltvs017u002lk2b0k41lb99dvj9</string>
	<key>API_KEY</key>
	<string>AIzaSyDtvubhwcWUbkvWHhq5FGmjVqxW7N3-GCk</string>
	<key>GCM_SENDER_ID</key>
	<string>1075482216613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.panchshala.panchshala</string>
	<key>PROJECT_ID</key>
	<string>panchshala-hotel</string>
	<key>STORAGE_BUCKET</key>
	<string>panchshala-hotel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075482216613:ios:5f2fc7a0efecd280aea54c</string>
</dict>
</plist>